# Пример файла с переменными окружения, просто переименуйте те в .env

# Postgres settings
POSTGRES_DB="test_db"
POSTGRES_USER="test_user"
POSTGRES_PASSWORD="test_pass"
POSTGRES_HOST="postgres" если локально запуск то укажите "127.0.0.1"
POSTGRES_PORT=5432
POSTGRES_SCHEMA="shift"

# Redis settings
REDIS_DB=0
REDIS_HOST="redis" # если локально запуск то укажите "127.0.0.1"
REDIS_PORT=6379
REDIS_PASSWORD="redis_password"

# auth settings
SECRET_KEY=UhNQ=NztzyexMqY]BSuPrfV@Zr@Xf??L

# Uvicorn settings
PORT=8008
HOST=app # если локально запуск то укажите "127.0.0.1"
LOG_LEVEL="INFO"
WORKERS=1
RELOAD="True"

# Создание админа
ADMIN_USERNAME="admin"
ADMIN_PASSWORD="admin"
ADMIN_EMAIL="admin@admin.com"